.dropDown{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 115px;
}

.dropDown__items-wrapper{
  position: relative;
  margin-top: 5px;
  width: 100%;
}

.dropDown__items{
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  padding: 5px 0px;
  margin: 0;
  list-style: none;
  transition: 0.5s;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.dropDown__items_active{
  opacity: 1;
}

.dropDown__item{
  display: flex;
  align-items: center;
  padding: 0px 16px;
  min-height: 48px;
  cursor: pointer;
  background-color: #ffffff;
}